main {
  background-color: #fff;
}

/*リオについて*/
#about {
  padding-bottom: 8rem;
}

#about .section_title {
  padding-bottom: 4rem;
}

#about1 {
  display: flex;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto 5rem;
}

#about1 .about1_img {
  width: 60%;
}

#about1 .content1 {
  width: 170px;
  font-size: 1.4rem;
  text-align: left;
  line-height: 2.5rem;
  writing-mode: vertical-rl;
}

#about1 .content1 span {
  display: block;
}

#about1 .content2 {
  width: 180px;
  text-align: left;
  writing-mode: vertical-rl;
  font-size: 2.6rem;
  line-height: 5.4rem;
  letter-spacing: 0.24rem;
  color: #666;
  font-weight: normal;
  font-family: serif;
}

#about1 .content2 span {
  display: block;
}

#about2 {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

#about2 .about2_img {
  width: 60%;
  object-fit: contain;
  order: 2;
}

#about2 .content1 {
  width: 240px;
  text-align: left;
  writing-mode: vertical-rl;
  font-size: 1.4rem;
  line-height: 3rem;
  margin-left: 4.5rem;
  order: 1;
}

#about2 .content1 span {
  display: block;
}

/* ~リオについて~レスポンシブデザイン */

/*サイトの横幅が768px以下*/
@media screen and (max-width: 800px) {

  #about {
    padding: 3rem 3.5rem 3rem;
  }

  #about .section_title {
    padding-top: 0;
    letter-spacing: 0.2rem;
  }

  #about #about1 {
    width: auto;
    justify-content: center;
    flex-flow: column;
    order: 1;
  }

  #about1 .about1_img {
    width: auto;
    margin: 0 auto;
  }

  #about1 .content1 {
    width: auto;
    writing-mode: horizontal-tb;
    font-size: 1.6rem;
    margin: 1rem;
    order: 3;
  }

  #about1 .content1 span {
    display: inline-block;
  }

  #about1 .content2 {
    width: auto;
    writing-mode: horizontal-tb;
    order: 2;
    font-size: 2.2rem;
    line-height: 4.5rem;
    color: #666;
    margin: 3.5rem 0 2rem;
  }

  #about1 .content2 span {
    display: inline-block;
    padding-left: 1rem;
  }

  #about2 {
    justify-content: center;
    flex-direction: column;
    width: auto;
  }

  #about2 .about2_img {
    width: auto;
    order: 1;
  }

  #about2 .content1 {
    width: auto;
    writing-mode: horizontal-tb;
    font-size: 1.6rem;
    margin-left: 0;
    order: 2;
    margin: 4rem 1rem 1rem;
  }

  #about2 .content1 span {
    display: inline-block;
  }

}

/*サイトの横幅が380px以下*/
@media screen and (max-width: 380px) {
  #about1 .content2 {
    line-height: 3.5rem;
  }

  #about1 .content2 span {
    padding-left: 0;
  }
}


/*スタッフ紹介*/

#staff {
  background: #f4f6f4;
}

#staff .information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

#staff .information .staff_information {
  width: 47%;
  text-align: left;
}

#staff .information .staff_information .name {
  border-left: 5px solid #99CDC7;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
  margin-bottom: 3rem;
}

#staff .information .staff_information .name h3 {
  padding: 15px 0 0px;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

#staff .information .staff_information .name p {
  color: #bebebe;
  font-size: 1rem;
}

#staff .information .ceo_img {
  width: 48%;
  display: flex;
}

#staff .information .ceo_img img {
  margin-bottom: 0;
}

/*リスト*/
#staff .list {
  width: 100%;
  margin: 3rem auto 0;
  padding: 1rem 1rem 0 2rem;
  border: dashed 1.5px #99CDC7;
  text-align: left;
  font-size: 1.2rem;
}

#staff .list dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#staff .list dt {
  font-weight: bold;
  width: 40%;
  margin-bottom: 1.5rem;
}

#staff .list dd {
  width: 55%;
  margin-bottom: 1.5rem;
}

#staff .list span {
  display: inline-block;
}

/* ~スタッフ紹介~レスポンシブデザイン */

/*サイトの横幅が800px以下*/
@media screen and (max-width: 800px) {
  #staff {
    padding: 3rem 3.5rem 0;
  }

  #staff .section_title {
    letter-spacing: 0.2rem;
  }

  #staff .information {
    justify-content: center;
    flex-direction: column;
    width: auto;
  }

  #staff .information .staff_information {
    width: 100%;
    order: 2;
  }

  #staff .information .staff_information .name {
    margin-top: 2rem;
  }

  #staff .information .ceo_img {
    width: 100%;
    order: 1;
  }

  #staff .list {
    width: auto;
    margin: 3rem 0 0;
    order: 3;
  }
}
